@charset "UTF-8";

:root {
	--default: hsl(210 80% 50%);
	--bg: hsl(0 0% 97.5%);
	--black: hsl(0 0% 22%);
	--mainFont: "Poppins", sans-serif;
}

::-moz-selection {
	background-color: var(--black);
	color: var(--bg);
}

::selection {
	background-color: var(--black);
	color: var(--bg);
}

* {
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;

	-webkit-box-sizing: border-box;
			box-sizing: border-box;
}

a {
	display: block;
	text-decoration: none;
	color: inherit;
	font-size: inherit;
}

p a { display: inline;}

h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
	font-size: 1em;
	font-weight: inherit;
	font-style: inherit;
	text-decoration: none;
	color: inherit;
}

form, input, textarea, select, button, label {
	font-family: inherit;
	font-size: inherit;
	background-color: transparent;
	color: inherit;
	display: block;
	
	-webkit-hyphens: auto;
		-ms-hyphens: auto;
			hyphens: auto;

  	-webkit-appearance: none;
       -moz-appearance: none;
			appearance: none;
}

.app {
	overflow: hidden;
	background-color: var(--bg);
	min-height: 100vh;
	color: var(--black);
	font-size: 100%;
	font-family: var(--mainFont);
	line-height: 1.4em;

	-webkit-hyphens: auto;
		-ms-hyphens: auto;
			hyphens: auto;
	
	-webkit-font-smoothing: antialiased;
	   -moz-osx-font-smoothing: grayscale;
			font-smooth: always;	
}

.btn:disabled {
	opacity: 0.5;
}

.btn:hover {
	transition: 400ms;
	background-color: hsl(0 0% 90%);
}

.btn {
	padding: 10px 30px 10px 30px;
	border-radius: 100px;
}

.btn--red {
	background-color: hsl(0 100% 65%);
	color: white;
}

.btn--red:hover {
	background-color: hsl(0 100% 70%);	
}

.btn--blue {
	background-color: var(--default);
	color: white;
}

.btn--blue:hover {
	background-color: hsl(210 80% 60%);
}

.btn--default {
	background-color: hsl(0 0% 90%);
}

.btn--menu {
	padding: 0 12px 0 12px;	
}

.app__menu {
	display: none;
}

.app__settings {
	display: flex;
	justify-content: right;
	font-size: 27px;
	height: 5vh;
	padding-top: 30px;
}
	
@media (max-width: 600px){
	.app__container { height: 85vh; }

	/* Clock */
	.time {
		height: 80vh;
		width: 100%;
		text-align: center;
		font-size: 8.5vh;
	}

	/* Stopwatch */
	.timer__btn {
		display: flex;
		justify-content: center;
		align-items: flex-end;
		height: 48.7vh;
		font-size: 20px;
	}

	.container__sw,
	.container__timer,
	.inputs__timer,
	.sw__input {
		width: 100%;
		text-align: center;
	}

	.sw__input {
		font-size: 8.5vh;
	}

	.container__SW {
		height: 25vh;
		padding-top: 100px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.container__timer {
		height: 25vh;
		padding-top: 100px;
	}

	.timer__inputs,
	.sw__btns {
		display: flex;
	}

	.timer__inputs {
		font-size: 8.5vh;
	}

	.output-timer {
		height: 20px;
		font-size: 4vh;
		margin-top: 10px;
	}

	.sw__btns {
		height: 56vh;
		align-items: flex-end;
		font-size: 20px;
		justify-content: space-around;
	}

	.app__menu {
		display: flex;
		justify-content: space-around;
		align-content: center;
		margin-top: 12px;
		height: 6vh;
	}

	.box { display: none; }

	.output-laps {
		font-size: 4vh;
	}
}

.d-none { display: none; }

.d-block { display: block; }
